body {
  background-color: #e5c499;
  color: white;
}

#DrawingArea {
  display: table;
  margin: auto;
}

h1 {
  background-color: lightsalmon;
  text-shadow: 1px 1px 1px black;
}

#DrawingBoard, #DrawingBoardNote {
  background-color: white;
}

.ColorChoice {
  display: inline-table;
  border: 3px ridge white;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#ColorPalette {
  margin: 10px 0px 10px 0px;
  background-color: mediumseagreen;
  padding: 10px;
  list-style: none;
}



@media (max-width: 500px) {
   h1 {
    font-size: 1rem;
  }
  
  .hugright {
    display: inline-block;
    text-align: right;
  }
  
  #DrawingBoard {
    display:none;
  }
  
  #DrawingBoardNote{
    display: block;
  }
  
  .ColorChoice {
    width: 15px;
    height: 15px;
  }
  
  #DrawingArea {
    width: 320px;
    float: right;
  }
  
  #ColorPalette {
    width: auto;
  }
}

@media (min-width: 501px) and (max-width:640px){
  h1 {
    font-size: 1rem;
  }
  
  .hugright {
    display: inline-block;
    text-align: right;
  }
  
  #DrawingBoard {
    display:none;
  }
  
  #DrawingBoardNote{
    display: block;
  }
  
  .ColorChoice {
    width: 15px;
    height: 15px;
  }
  
  #DrawingArea {
    width: 320px;
    float: right;
  }
  
  #ColorPalette {
    width: 70px;
    float:left;
  }
  
}

@media (min-width: 640px) 
{
  #DrawingBoardNote{
    display: none;
  } 
}